<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="leave management, oak pensions leave application, oak leave, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Xtreme lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Xtreme admin lite design, Xtreme admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Oak Pensions Leave Management">
    <meta name="robots" content="noindex,nofollow">

    <link rel="canonical" href="https://www.leave.oakpensions.com" />
    
    <!-- Custom CSS -->
    <link href="~/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/style.min.css" rel="stylesheet">




    <meta charset="utf-8" />

    <title>@ViewData["Title"] - Leave Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="index.html">

                        <h4 class="ml-3 mr-2"><i class="fa fa-tree text-white-50"></i> </h4>
                        <span>
                            <h4 class="text-white-20">
                                Leave Manager
                            </h4>
                        </span>


                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>


                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->

              


                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-start me-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box">
                            <a class="nav-link waves-effect waves-dark"
                               href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-end">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark"
                               href=""
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i data-feather="bell" class="fa fa-bell"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end mailbox dropdown-menu-animate-up">
                                <span class="with-arrow"><span class="bg-primary"></span></span>
                                <ul class="list-style-none pe-20 pr-20 pb-20">
                                    <li class="bg-cyan p-15">
                                        <div class="drop-title  text-white">
                                            <h4 class="mb-0 mt-1">2 New</h4>
                                            <span class="fw-light">Notifications</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="message-center notifications p-15">
                                            <!-- Message -->
                                            <a href="#" class="message-item   d-flex justify-content-between">
                                                <div class="btn btn-light-danger text-danger btn-circle " style="width:25%;">
                                                    <h3 data-feather="link" class="fa fa-calendar-check fill-white"></h3>
                                                </div>
                                                <div class="mail-contnet"  style="width:73%;">
                                                    <h5 class="message-title">Public Holiday</h5>
                                                    <div class="mail-desc">Easter Holiday</div>
                                                    <div class="time">10:10 AM</div>
                                                </div>
                                            </a>

                                            <!-- Message -->
                                            <a href="#" class="message-item   d-flex justify-content-between">
                                                <div class="btn btn-light-danger text-success btn-circle " style="width:25%;">
                                                    <h3 data-feather="link" class="fa fa-user-group fill-white"></h3>
                                                </div>
                                                <div class="mail-contnet"  style="width:73%;">
                                                    <h5 class="message-title">Profile Update</h5>
                                                    <div class="mail-desc">Please Update your profile</div>
                                                    <div class="time">9:10 AM</div>
                                                </div>
                                            </a>

                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center mb-1 text-dark  p-15" href="#">
                                            <strong>Check all notifications</strong>
                                            <i data-feather="chevron-right" class="fa fa-clock"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>


















                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item mt-2" href="javascript:void(0)">
                                    <i class="ti-user m-r-5 m-l-5"></i>
                                    My Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item  mt-2" href="javascript:void(0)">
                                    <i class="ti-wallet m-r-5 m-l-5"></i>
                                    Change Password
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item  mt-2" href="javascript:void(0)">
                                    <i class="ti-email m-r-5 m-l-5"></i>
                                    Account Settings
                                </a>
                            </ul>
                        </li>

                        <partial name="_LoginPartial" />
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        @if (User.Identity.IsAuthenticated)
        {
            <aside class="left-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <!-- User Profile-->
                            <li>
                                <!-- User Profile-->
                                <div class="user-profile d-flex no-block dropdown m-t-20">
                                    <div class="user-pic">
                                        <img src="~/assets/images/users/1.jpg" alt="users"
                                             class="rounded-circle" width="40" />
                                    </div>
                                    <div class="user-content hide-menu m-l-10">
                                        <a href="#" class="" id="Userdd" role="button"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <h5 class="m-b-0 user-name font-medium">
                                                Oak Staff <i class="fa fa-angle-down"></i>
                                            </h5>
                                            <span class="op-5 user-email">@User.Identity?.Name</span>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Userdd">
                                            <a class="dropdown-item  mt-2" href="javascript:void(0)">
                                                <i class="fa fa-user m-r-5 m-l-5"></i> My Profile
                                            </a>
                                            <a class="dropdown-item  mt-2" href="javascript:void(0)">
                                                <i class="fa fa-lock-open m-r-5 m-l-5"></i> Change Password
                                            </a>
                                            <a class="dropdown-item  mt-2" href="javascript:void(0)">
                                                <i class="fa fa-file m-r-5 m-l-5"></i> My Job Description
                                            </a>
                                            <div class="dropdown-divider "></div>
                                            <a class="dropdown-item  mt-2" href="javascript:void(0)">
                                                <i class="fa fa-cogs m-r-5 m-l-5"></i> Account Setting
                                            </a>

                                        </div>
                                    </div>
                                </div>
                                <!-- End User Profile-->
                            </li>





                            <li class="p-15 m-t-10">
                                <a asp-area="" asp-controller="LeaveRequests" asp-action="Create"
                                   class="btn d-block w-100 create-btn text-white no-block d-flex align-items-center">
                                    <i class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">New Leave Application</span>
                                </a>
                            </li>
                            <!-- User Profile-->
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   asp-area="" asp-controller="Home" asp-action="Index" aria-expanded="false">
                                    <i class="fa fa-home" style="font-size:16px;"></i><span class="hide-menu">Dashboard</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    asp-area="" asp-controller="LeaveRequests" asp-action="MyLeave" aria-expanded="false">
                                    <i class="fa fa-folder-open " style="font-size:16px;"></i><span class="hide-menu">Leave Applications</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   asp-controller="LeaveRequests" asp-action="MyLeave"  aria-expanded="false">
                                    <i class="fa fa-folder-plus" style="font-size:16px;"></i><span class="hide-menu">My Allocations</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    asp-area="" asp-controller="PublicHolidays" asp-action="Index" aria-expanded="false">
                                    <i class="fa fa-calendar-check" style="font-size:16px;"></i><span class="hide-menu">Public Holidays</span>
                                </a>
                            </li>



                            @if (User.IsInRole(Roles.Administrator) || User.IsInRole(Roles.Supervisor) || User.IsInRole(Roles.Group_Head) || User.IsInRole(Roles.HR) || User.IsInRole(Roles.ED) || User.IsInRole(Roles.MD))
                            {
                                if (User.IsInRole(Roles.HR) || User.IsInRole(Roles.Administrator))
                                {

                                    <!-- User Profile-->
                                    <li class="sidebar-item">
                                        <!-- User Profile-->
                                        <div class="user-profile d-flex no-block dropdown m-t-10">

                                            <div class="user-content hide-menu m-l-10">
                                                <a href="#" class="" id="Userdd" role="button"
                                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <div class="m-b-0 user-name font-medium">
                                                        Employee Management <i class="fa fa-angle-down"></i>
                                                    </div>

                                                </a>

                                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Userdd">
                                                    <a class="dropdown-item  mt-2" asp-controller="Employees" asp-action="GetEmployees" >
                                                        <i class="fa fa-users m-r-5 m-l-5"></i> All Employees
                                                    </a>
                                                    <div class="dropdown-divider "></div>

                                                    <a class="dropdown-item  mt-2"  asp-controller="Employees" asp-action="GetSystemUsers" >
                                                        <i class="fa fa-user-gear m-r-5 m-l-5"></i> User roles
                                                    </a>
                                                    <div class="dropdown-divider "></div>

                                                    <a class="dropdown-item  mt-2" asp-controller="Employees" asp-action="GetDepartments">
                                                        <i class="fa fa-user-group m-r-5 m-l-5"></i> Departments
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- End User Profile-->
                                    </li>





                                    <!-- User Profile-->
                                    <li>
                                        <!-- User Profile-->
                                        <div class="user-profile d-flex no-block dropdown m-t-10">

                                            <div class="user-content hide-menu m-l-10">
                                                <a href="#" class="" id="Userdd" role="button"
                                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <div class="m-b-0 user-name font-medium">
                                                        Leave Management <i class="fa fa-angle-down"></i>
                                                    </div>

                                                </a>

                                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Userdd">
                                                    <a class="dropdown-item  mt-2"  asp-controller="LeaveTypes" asp-action="Index">
                                                        <i class="fa fa-file-alt m-r-5 m-l-5"></i> Leave Types
                                                    </a>
                                                    <div class="dropdown-divider "></div>


                                                    <a class="dropdown-item  mt-2"  asp-controller="LeaveAllocations" asp-action="Index">
                                                        <i class="fa fa-folder-open m-r-5 m-l-5"></i> Leave Allocations
                                                    </a>
                                                    <div class="dropdown-divider "></div>


                                                    <a class="dropdown-item  mt-2" href="javascript:void(0)">
                                                        <i class="fa fa-file-clipboard m-r-5 m-l-5"></i>  Allocation Report
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- End User Profile-->
                                    </li>

                                }




                                <!-- User Profile-->
                                <li>
                                    <!-- User Profile-->
                                    <div class="user-profile d-flex no-block dropdown m-t-10">

                                        <div class="user-content hide-menu m-l-10">
                                            <a href="#" class="" id="Userdd" role="button"
                                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div class="m-b-0 user-name font-medium">
                                                    Process Leave <i class="fa fa-angle-down"></i>
                                                </div>

                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Userdd">
                                                <a class="dropdown-item mt-2"  asp-controller="LeaveRequests" asp-action="Index">
                                                    <i class="fa fa-receipt m-r-5 m-l-5"></i>  Leave Dashboard
                                                </a>
                                                <div class="dropdown-divider "></div>


                                                <a class="dropdown-item  mt-2" asp-controller="LeaveRequests" asp-action="Index">
                                                    <i class="fa fa-check-to-slot m-r-5 m-l-5"></i>  Approve Request
                                                </a>

                                                <div class="dropdown-divider "></div>
                                                <a class="dropdown-item  mt-2" href="javascript:void(0)">
                                                    <i class="fa fa-file-contract m-r-5 m-l-5"></i>  Leave Report
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End User Profile-->
                                </li>






                                <li class="text-center p-40 upgrade-btn">
                                    <form class="form-inline small" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="nav-link btn btn-link text-white bg-cyan  btn-sm pr-3 "> <i class="fa fa-lock mr-1"></i> Logout </button>
                                    </form>
                                </li>

                            }
                        </ul>

                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>
            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->


        }
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper p-15">


            @RenderBody()




        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Leave Management - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="~/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/dist/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="~/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/dist/js/pages/dashboards/dashboard1.js"></script>



    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>





    <!--<script src="~/assets/libs/jquery/dist/jquery.min.js"></script>-->
    <!-- Bootstrap tether Core JavaScript -->
    <!--<script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <!--<script src="~/js/app-style-switcher.js"></script>-->
    <!--Wave Effects -->
    <!--<script src="~/js/waves.js"></script>-->
    <!--Menu sidebar -->
    <!--<script src="~/js/sidebarmenu.js"></script>-->
    <!--Custom JavaScript -->
    <!--<script src="~/js/custom.js"></script>-->
    <!--This page JavaScript -->
    <!--chartis chart-->
    <!--<script src="~/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="~/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/js/dashboard1.js"></script>-->





    <script>
        $(function () {
            // initialize the db record to be a datatable
            $('.table').DataTable();


            $(".datepicker").datepicker({
                dateFormat: "yyyy-mm-dd"
            });
        });

    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- This section will render all script section defined in any views-->

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>