@model LeaveManagement.Data.LeaveAllocation

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow-sm p-30">

    <h4>Leave Allocation Details</h4>

    <div>
        <h4>LeaveAllocation</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DaysAllocated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DaysAllocated)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DaysUsed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DaysUsed)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PublicHolidays)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PublicHolidays)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DaysBroughtForward)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DaysBroughtForward)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LeaveType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LeaveType.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EmployeeId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmployeeId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Period)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Period)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Start_Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Start_Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.End_Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.End_Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateModified)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateModified)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-dark mr-2" asp-action="Index"> <i class="fa fa-arrow-left-long"></i> Back to List</a>
        @if (User.IsInRole(Roles.HR))
        {
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id"> <i class="fa fa-edit"></i> Edit Allocation </a>
        }


    </div>
 </div>