@model IEnumerable<LeaveManagement.Data.LeaveAllocation>

@{
    ViewData["Title"] = "Index";
}

<div class="card shadow-sm p-30">
    <h3>Leave Allocations</h3>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
    @Html.DisplayNameFor(model => model.LeaveType)
</th>
                <th>
    @Html.DisplayNameFor(model => model.EmployeeId)
</th>
                <th>
                    @Html.DisplayNameFor(model => model.DaysAllocated)
                </th>
               
                
                
                <th>
                    @Html.DisplayNameFor(model => model.Period)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Start_Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.End_Date)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.DateModified)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysAllocated)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Period)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End_Date)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateModified)
                </td>
                <td>
         

                   
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info"></i></a>
                        @if (User.IsInRole(Roles.HR))
                        {
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-eye"></i> Review</a>
                        }
                    
                    @*<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"> </i></a>*@
                    @if (User.IsInRole(Roles.Administrator))
                    {
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"> </i></a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    </div>