@model LeaveManagement.Common.Models.EmployeeLeaveRequestVM

@{
    ViewData["Title"] = "My Leave";
}



<div class="card">
    <div class="card-header">
        <h4> Leave Allocations</h4>

    </div>
    <ul class="list-group list-group-flush text-center">

        <li class="list-group-item">
            <div class="row text-center align-content-center">
                <div class="col">Leave Type</div>
                <div class="col">Allocated Days</div>
                <div class="col">Total Days Used</div>
                <div class="col">Days brought Forward</div>
                <div class="col">Public Holiday</div>
                
            </div>
        </li>

        @foreach (var allocation in Model.LeaveAllocations)
        {

            <li class="list-group-item align-content-center">
                <div class="row text-center align-content-center">
                    <div class="col"><b> @allocation.LeaveType.Name - [@allocation.Period]</b> </div>

                    <div class="col">
                        <button type="button" class="btn btn-primary btn-sm  text-white ml-1">
                            Days Assigned <span class="badge bg-danger text-white"> @allocation.LeaveType.DefaultDays</span>
                        </button>
                    </div>

                    <div class="col">
                        <button type="button" class="btn btn-secondary btn-sm   text-black ml-1">
                            Days Used  <span class="badge bg-danger text-white"> @allocation.DaysUsed</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-info btn-sm   text-black ml-1">
                            Outstanding days <span class="badge bg-danger text-white"> @allocation.DaysBroughtForward</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-success btn-sm   text-black ml-1">
                            Public Holidays <span class="badge bg-danger text-white"> @allocation.PublicHolidays</span>
                        </button>
                    </div>


                </div>
            </li>

        }

    </ul>
</div>



<div class="card shadow-sm p-30">

    <h4>My Leave Requests</h4>

    <table class="table align-content-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].EmployeeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequested)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequested)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LeaveRequests)
            {
                <tr>
                    <td>
                        @item.Employee.Lastname @item.Employee.Firstname
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRequested)
                    </td>

                    <td>
                        @if (item.Cancelled)
                        {
                            <span class="badge bg-warning  text-white  p-2 pl-3 pr-3">Cancelled</span>
                        }
                        else if (item.Approved == null)
                        {
                            <span class="badge bg-warning  text-white   p-2 pl-3 pr-3">Pending</span>
                        }
                        else if (item.Approved.Value)
                        {
                            <span class="badge bg-success text-white  p-2 pl-3 pr-3">Approved</span>
                        }
                        else if (!item.Approved.Value)
                        {
                            <span class="badge bg-success text-white p-2 pl-3 pr-3">Rejected</span>
                        }

                    </td>

                    <td>
                        @if ((item.Approved == null) && (item.Cancelled == false))
                        {

                            <button data-id="@item.Id" id="cancelRequest" type="button" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Cancel Request</button>

                        }
                        else
                        {
                            @if (item.Approved == true)
                            {
                                <div class="btn btn-sm btn-success">@item.TotalDaysRequested Days Leave</div>
                            }
                            else
                            {
                                <div class="btn btn-sm btn-danger">Canceled on @item.DateModified</div>
                            }

                        }


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <form id="cancelRequestForm" asp-action="CancelRequest">
        <input type="hidden" id="leaveRequestId" name="leaveRequestId" />

    </form>

    @section Scripts{
        <script>

            $(function () {
                $('#cancelRequest').click(function () {
                    swal({
                        title: "Are you sure?",
                        text: "Are you sure you want to cancel this request?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true
                    }).then((confirm) => {
                        if (confirm) {
                            //alert("you said yes");
                            var btn = $(this);
                            var id = btn.data("id");
                            // get the value from the button and data-id attribute and assign it to the hidden field of the form and
                            // then submit the form
                            $('#leaveRequestId').val(id);
                            // submit the form to hit the delete endpoint
                            $('#cancelRequestForm').submit();
                        }
                    });
                });
            });

        </script>

    }

